<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vlambeer</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/1.2.0/css/uikit.gradient.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/press.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="uk-container uk-container-center">
<div class="uk-grid">
<div id="navigation" class="uk-width-medium-1-4">
    <h1 class="nav-header">ReactiveUI</h1>
    <a class="nav-header" href="https://reactiveui.net/">reactiveui.net</a>
    <ul class="uk-nav uk-nav-side">
        <li>
            <a href="#factsheet">Factsheet</a>
        </li>
        <li>
            <a href="#description">Description</a>
        </li>
        <li>
            <a href="#history">History</a>
        </li>
        <li>
            <a href="#projects">Projects</a>
        </li>
        <li>
            <a href="#trailers">Videos</a>
        </li>
        <li>
            <a href="#images">Images</a>
        </li>
        <li>
            <a href="#logo">Logo &amp; Icon</a>
        </li>
        <li>
            <a href="#awards">Awards &amp; Recognition</a>
        </li>
        <li>
            <a href="#quotes">Selected Articles</a>
        </li>
        <li>
            <a href="#links">Additional Links</a>
        </li>
        <li>
            <a href="#credits">Team</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</div>
<div id="content" class="uk-width-medium-3-4">
<img src="images/header.png" class="header">
<div class="uk-grid">
    <div class="uk-width-medium-2-6">
        <h2 id="factsheet">Factsheet</h2>
        <p>
            <strong>Developer:</strong><br/>
            <a href="">Vlambeer</a><br/>
            Based in Utrecht, Netherlands
        </p>
        <p>
            <strong>Founding date:</strong><br/>
            September 1, 2010
        </p>
        <p>
            <strong>Website:</strong><br/>
            <a href="https://reactiveui.net/">reactiveui.net</a>
        </p>
        <p>
            <strong>Press / Business contact:</strong><br/>
            <a href="mailto:hello@reactiveui.net">hello@reactiveui.net</a>
        </p>
        <p>
            <strong>Social:</strong><br/><a href="http://twitter.com/reactivexui">twitter.com/reactivexui</a><br/>
        </p>
        <p>
            <strong>Releases:</strong><br/><a href="sheet.php?p=GUN_GODZ">GUN GODZ</a><br/><a href="sheet.php?p=LUFTRAUSERS">LUFTRAUSERS</a><br/><a href="sheet.php?p=Nuclear_Throne">Nuclear Throne</a><br/><a href="sheet.php?p=Ridiculous_Fishing">Ridiculous Fishing</a><br/><a href="sheet.php?p=super_crate_box">Super Crate Box</a><br/>
        </p>
        <p>
            <strong>Address:</strong><br/>Neude 5<br/>3512 AD Utrecht<br/>The Netherlands<br/>
        </p>
        <p>
            <strong>Phone:</strong><br/>
            +31 (6) 21 20 63 63
        </p>
    </div>
    <div class="uk-width-medium-4-6">
        <h2 id="description">Description</h2>
        <p>
            Vlambeer is a Dutch independent game studio made up of Rami Ismail and Jan Willem Nijman, bringing back arcade games since 1774.
        </p>
        <h2 id="history">History</h2><strong>Early history</strong>
        <p>Vlambeer was founded in 2010 by Rami Ismail and Jan Willem Nijman, after they dropped out of game design university. They teamed up to fully develop the 'Crates from Hell' prototype Jan Willem had created. With no resources, space or money, they created Radical Fishing to earn a starting capital to rent an office and food other than noodles. Crates from Hell was renamed Super Crate Box and released subsequently. Super Crate Box was an overwhelming success, eventually earning them recognition in the form of a Independent Games Festival Finalist spot in the Excellence in Design category.</p><strong>Ridiculous Fishing</strong>
        <p>
            After Super Crate Box' success, Vlambeer was approached by Devolver Digital for a Serious Sam game. Initially scared that Devolver might want a Serious Sam themed Super Crate Box, Vlambeer proposed a turnbased RPG. Devolver agreed and Serious Sam: The Random Encounter was born. During development of The Random Encounter, Vlambeer also released Dinosaur Zookeeper, KARATE, Super Puppy Boy and fan-favorite 2D dogfighter game LUFTRAUSER. In secret, Vlambeer had started work on an iOS version of Radical Fishing called Ridiculous Fishing with an all-star team - a project that was promptly derailed when a San Francisco studio released a clone of Radical Fishing on iOS. Against its will, Vlambeer was thrown headfirst into the cloning discussion, becoming somewhat of an icon of independent games being cloned - the term "Vlambeer'd" was introduced by several media outlets.
        </p><strong>Recent</strong>
        <p>
            After the cloning incident, Vlambeer moved to release GUN GODZ, a hip-hop inspired first person shooter in cooperation with Brandon Boyers' Venus Patrol. Soon after GUN GODZ release, Vlambeer succesfully released an iOS version of Super Crate Box, which narrowly prevented the studio going out of business due to the motivational blow (and the financial ramifications of said demotivation) the cloning incident had induced. Weeks after Ridiculous Fishing was nominated for an Independent Games Festival 'Best Mobile' award they released Yeti Hunter from the GDC showfloor. Weeks later and in typical for the studios large amount of simultaneous projects, Vlambeer moved to announce a yet unnamed space game and a sequel to dogfighting game LUFTRAUSER named LUFTRAUSERS.
        </p>
        <h2 id="projects">Projects</h2>
        <ul>
            <li>
                <a href="sheet.php?p=GUN_GODZ">GUN GODZ</a>
            </li><li>
                <a href="sheet.php?p=LUFTRAUSERS">LUFTRAUSERS</a>
            </li><li>
                <a href="sheet.php?p=Nuclear_Throne">Nuclear Throne</a>
            </li><li>
                <a href="sheet.php?p=Ridiculous_Fishing">Ridiculous Fishing</a>
            </li><li>
                <a href="sheet.php?p=super_crate_box">Super Crate Box</a>
            </li>
        </ul>
    </div>
</div>

<hr>

<h2 id="trailers">Videos</h2>
<p>
    <strong>Appremium Interview</strong>&nbsp;<a href="http://www.youtube.com/watch?v=BdRVpYx4Vz4">YouTube</a>
    <div class="uk-responsive-width iframe-container">
        <iframe src="http://www.youtube.com/embed/BdRVpYx4Vz4" frameborder="0" allowfullscreen></iframe>
    </div>
</p>
<p>
    <strong>Yeti Hunter Talk (2011)</strong>&nbsp;<a href="http://www.youtube.com/watch?v=KmnUGb_Qpxo">YouTube</a>
    <div class="uk-responsive-width iframe-container">
        <iframe src="http://www.youtube.com/embed/KmnUGb_Qpxo" frameborder="0" allowfullscreen></iframe>
    </div>
</p> <hr>

<h2 id="images">Images</h2><a href="images/images.zip">
    <div class="uk-alert">download all screenshots &amp; photos as .zip (5MB)</div>
</a>
<div class="uk-grid images">
    <div class="uk-width-medium-1-2">
        <a href="images/janwillem-vlambeer-1.png">
            <img src="images/janwillem-vlambeer-1.png" alt="janwillem-vlambeer-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/janwillem-vlambeer-2.png">
            <img src="images/janwillem-vlambeer-2.png" alt="janwillem-vlambeer-2.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/janwillem-vlambeer-4.png">
            <img src="images/janwillem-vlambeer-4.png" alt="janwillem-vlambeer-4.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/rami-vlambeer-1.png">
            <img src="images/rami-vlambeer-1.png" alt="rami-vlambeer-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/rami-vlambeer-2.png">
            <img src="images/rami-vlambeer-2.png" alt="rami-vlambeer-2.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-award-1.png">
            <img src="images/vlambeer-award-1.png" alt="vlambeer-award-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-award-2.png">
            <img src="images/vlambeer-award-2.png" alt="vlambeer-award-2.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-interview-1.png">
            <img src="images/vlambeer-interview-1.png" alt="vlambeer-interview-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-jam-1.png">
            <img src="images/vlambeer-jam-1.png" alt="vlambeer-jam-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-talk-1.png">
            <img src="images/vlambeer-talk-1.png" alt="vlambeer-talk-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-talk-2.png">
            <img src="images/vlambeer-talk-2.png" alt="vlambeer-talk-2.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-talk-3.png">
            <img src="images/vlambeer-talk-3.png" alt="vlambeer-talk-3.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-talk-4.png">
            <img src="images/vlambeer-talk-4.png" alt="vlambeer-talk-4.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-talk-5.png">
            <img src="images/vlambeer-talk-5.png" alt="vlambeer-talk-5.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-team-1.png">
            <img src="images/vlambeer-team-1.png" alt="vlambeer-team-1.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-team-2.png">
            <img src="images/vlambeer-team-2.png" alt="vlambeer-team-2.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-team-3.png">
            <img src="images/vlambeer-team-3.png" alt="vlambeer-team-3.png"/>
        </a>
    </div>
    <div class="uk-width-medium-1-2">
        <a href="images/vlambeer-workshop-1.png">
            <img src="images/vlambeer-workshop-1.png" alt="vlambeer-workshop-1.png"/>
        </a>
    </div>
</div>
<p class="images-text">
    There are far more images available for Vlambeer, but these are the ones we felt would be most useful to you. If you have specific requests, please do <a href="#contact">contact us</a>!
</p>

<hr>

<h2 id="logo">Logo &amp; Icon</h2><a href="images/logo.zip">
    <div class="uk-alert">download logo files as .zip (15KB)</div>
</a>
<div class="uk-grid images">
    <div class="uk-width-medium-1-2">
        <a href="images/logo.png">
            <img src="images/logo.png" alt="logo"/>
        </a>
    </div>
</div> <hr>
<h2 id="awards">Awards &amp; Recognition</h2>
<ul>
    <li>"Two times Independent Games Festival Nominee & two times Independent Games Festival Honorable Mention" - <cite>Super Crate Box, Ridiculous Fishing, GlitchHiker, 2011 & 2012</cite></li><li>"EDGE Best Free Friday Game 2010, IGN Best Free PC Game 2010, Bytejacker Best Free Indie Game 2010" - <cite>Super Crate Box, 2010</cite></li><li>"Dutch Game Award Winner" - <cite>Radical Fishing, 2011</cite></li><li>"PAX Boston Indie Showcase Winner" - <cite>Super Crate Box iOS, 2012</cite></li><li>"A MAZE Indie Connect Showcase" - <cite>Yeti Hunter, 2012</cite></li><li>"Two time INDIGO Showcase nominee" - <cite>Super Crate Box & Serious Sam: The Random Encounter, 2010, 2011</cite></li><li>"Fantastic Arcade Finalist" - <cite>Ridiculous Fishing, September, 2011</cite></li>
</ul><hr>
<h2 id="quotes">Selected Articles</h2>
<ul>
    <li>"Vlambeer interview - Everything else we consider nonsense"<br/><cite>- Travis Boisvenue, <a href="http://thehappymedium.tumblr.com/post/9656019627/everything-else-we-consider-nonsense/">The Happy Medium</a></cite></li></li><li>"Cloning Wars: Vlambeer"<br/><cite>- Russ Frushtick, <a href="http://theverge.com/gaming/2012/2/22/2810409/cloning-wars-vlambeer-vs-gamenauts/">Polygon</a></cite></li></li><li>"Vlambeer on the iOS launch of Super Crate Box"<br/><cite>- Andreas Zecher, <a href="http://madebypixelate.com/blog/interview-vlambeer-on-the-ios-launch-of-super-crate-box/">Made by Pixelate</a></cite></li></li><li>"Vlambeers unplayable IGF entry: GlitchHiker"<br/><cite>- John Polson, <a href="http://diygamer.com/2011/10/vlambeers-unplayable-playable-igf-entry-glitchhiker-interview/">DIYGames</a></cite></li></li><li>"Vlambeer on practicing Sensible Nonsense"<br/><cite>- Chris Priestman, <a href="http://indiegamemag.com/indie-connect-vlambeer-on-practising-sensible-nonsense/">IndieGamesMag</a></cite></li></li>
</ul><hr>
<h2 id="links">Additional Links</h2>
<p>
    <strong>Rami Ismail on Twitter</strong><br/>
    Personal twitter for Rami Ismail (tha_rami) available at <a href="http://twitter.com/tha_rami" alt="twitter.com/tha_rami">twitter.com</a>.
</p>
<p>
    <strong>Jan Willem Nijman on Twitter</strong><br/>
    Personal twitter for Jan Willem Nijman (jwaaaap) available at <a href="http://twitter.com/jwaaaap" alt="twitter.com/jwaaaap">twitter.com</a>.
</p><hr>
<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <h2 id="credits">Team &amp; Repeating Collaborator</h2>
        <p>
            <strong>Rami Ismail</strong><br/><a href="http://vlambeer.com/">Business & Development, Vlambeer</a>
        </p>
        <p>
            <strong>Jan Willem Nijman</strong><br/><a href="http://vlambeer.com/">Game Design, Vlambeer</a>
        </p>
        <p>
            <strong>Paul 'Pietepiet' Veer</strong><br/><a href="http://pietepiet.net/">Artist, Skullrobot</a>
        </p>
        <p>
            <strong>Roy Nathan de Groot</strong><br/>Artist, Freelancer
        </p>
        <p>
            <strong>Jukio 'KOZILEK' Kallio</strong><br/><a href="http://kozilekmusic.com/">Music, Freelancer</a>
        </p>
        <p>
            <strong>Eirik 'Phlogiston' Suhrke</strong><br/><a href="http://strotch.net/">Music, Freelancer</a>
        </p>
        <p>
            <strong>Kert Gartner</strong><br/><a href="http://kertgartner.com/">Trailers, Freelancer</a>
        </p>
    </div>
    <div class="uk-width-medium-1-2">
        <h2 id="contact">Contact</h2>
        <p>
            <strong>Inquiries</strong><br/><a href="mailto:rami@vlambeer.com">rami@vlambeer.com</a>
        </p>
        <p>
            <strong>Twitter</strong><br/><a href="http://twitter.com/Vlambeer">twitter.com/Vlambeer</a>
        </p>
        <p>
            <strong>Facebook</strong><br/><a href="http://facebook.com/Vlambeer">facebook.com/Vlambeer</a>
        </p>
        <p>
            <strong>Web</strong><br/><a href="http://vlambeer.com">vlambeer.com</a>
        </p>
    </div>
</div>

<hr>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var container = $('.images');

        container.imagesLoaded(function() {
            container.masonry({
                itemSelector: '.uk-width-medium-1-2',
            });
        });
    });
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27474695-3']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga
            .src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
            '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>